In [ ]:
import pandas as pd
df = pd.read_csv("train.csv")
rows = df.shape[0]
columns = df.shape[1]
print ("There are " + str(rows) + " rows and " + str(columns) + " columns.")

In [ ]:
survivors = df['Survived'].sum()
print ("There were " + str(survivors) + " survivors.")

In [ ]:
males = df[df.Sex == "male"]


females = df[df.Sex == "female"]


import matplotlib.pyplot as plt

males2= males.copy()
males2.Survived = df.Survived.replace(
    {
        0: "Did Not Survive",
        1: "Survived"
    })

females2 = females.copy()
females2.Survived = df.Survived.replace(
    {
        0: "Did Not Survive",
        1: "Survived"
    })


malegraph = males2.Survived.value_counts().plot.pie()
plt.title("Male Survivals")
plt.ylabel (' ')

In [ ]:
females2.Survived.value_counts().plot.pie()
plt.title("Female Survivals")
plt.ylabel (" ")

In [ ]:
df2 = df.copy()
df2.Survived = df2.Survived.replace(
    {
        0: "Did Not Survive",
        1: "Survived"
    })

pclass1 = df2[df2.Pclass == 1]
pclass2 = df2[df2.Pclass == 2]
pclass3 = df2[df2.Pclass == 3]

graph1 = pclass1.Survived.value_counts().plot.pie()
plt.title ("Pclass 1 Survivals")
plt.ylabel (" ")

In [ ]:
graph2 = pclass2.Survived.value_counts().plot.pie()
plt.title ("Pclass 2 Survivals")
plt.ylabel (" ")

In [ ]:
graph3 = pclass3.Survived.value_counts().plot.pie()
plt.title ("Pclass 3 Survivals")
plt.ylabel (" ")

In [ ]:
df.Fare.plot.hist(bins = 50, xlim = (0, 100))
plt.xlabel ("Price")
plt.title("Frequency of Prices to board the Titanic")
#this chart is zoomed in on the prices ranging from $0-100. 
#This gives more valuable information than the other histogram below which is an inclusive, 
#but wide-framed chart.

In [ ]:
df.Fare.plot.hist(bins = 50, xlim =(0,600))
plt.title ("Frequency of prices to board the Titanic")
plt.xlabel ("Prices")
#this is the histogram that includes all prices to board the titanic

In [ ]:
cheap = df[df.Fare <10]
list(cheap.Name)



PART TWO

In [ ]:
list1 = []
list1 = [None]*len(df)
df["life_stage"] = [None]*len(df)

In [ ]:
for i in range(len(df)):
    if i<7:
        list1[i] = "Early Childhood"
    elif i<12 and i>=7:
        list1[i] = "Childhood"
    elif i<20 and i>=12:
        list1[i] = "Adolescence"
    elif i<36 and i>=20: 
        list1[i] = "Early Adulthood"
    elif i<56 and i>=36:
        list1[i] = "Midlife"
    elif  i>=56: 
        list1[i] = "Mature Adulthood"
    else:
        list1[i] = "Unknown"

df['life_stage'] = list1

In [ ]:
age_list = df['Age'].tolist()
age_list
r_lst=[]
for i in age_list:
    if i<=6:
        r_lst.append('Early Childhood')
    elif i>=7 and i<=12:
        r_lst.append('Childhood')
    elif i>=12 and i<=19:
        r_lst.append('Adolescence')
    elif i>=20 and i<=35:
        r_lst.append('Early Adulthood')
    elif i>=36 and i<=55:
        r_lst.append('Midlife')
    elif i>=56 and i<=999:
        r_lst.append('Mature Adulthood')
    else:
        r_lst.append('Unknown')
df["life_stage"] = r_lst

In [ ]:
question2 = df.groupby(['Sex','life_stage'])[["Survived"]].mean()
graph1 = question2.plot.barh()
graph1
plt.title("Male and Female Survival Rates by Life Stage")
plt.ylabel("Sex, Life Stage")
plt.xlabel("Survival Rate")

In [ ]:
import numpy as np
from random import shuffle
simulation = np.random.choice(2,size = 891, p = [.5,.5]) # this simulation is a 50-50 life or death situation
df9 = df
df9['Simulation Survivors'] = simulation
# a "1" indicates that the person survied the titanic simulation and a 0 means they did not survive.
df9
       
    
    #This is the simulation

In [ ]:
vf = pd.read_csv("monster_com-job_sample.csv")
noNaN = vf[vf.salary.notnull()]
noNaN

#this is the answer to question 1 of part 3

In [ ]:
#question 2 of part 3
import numpy as np

for n in noNaN.index:
    value = noNaN.at[n , 'salary']
    for i in value:
        if i.isdigit() == True:
            break
        else:
            noNaN.at[n,"salary"] = np.NaN
noNaN = noNaN[noNaN.salary.notnull()]

noNaN

In [197]:
#this is number 3 of part 3 

import re
noNaN.index = np.arange(len(noNaN.salary.array))

for i in noNaN.index:
    noNaN.salary[i] = re.sub("[^0-9 '-']", '',noNaN.salary[i])    
list(filter(None, noNaN.salary[8].split(' ')))
newest_and_last_list = []
for i in noNaN.index:
    taco = noNaN.salary[i].split(' ')
    taco = list(filter(None, taco))
    taco = [int(j) for j in taco]
    taco = np.mean(taco)
    newest_and_last_list = np.append(newest_and_last_list, taco)
    
noNaN['salary'] = newest_and_last_list
noNaN

ValueError: invalid literal for int() with base 10: "'"